<mat-dialog-content>
  <form [formGroup]="betForm" class="bet-form">

    <!-- Mostrar botón si no hay partidos -->
    <ng-container *ngIf="bets.length === 0">
      <p>No hay partidos agregados.</p>
    </ng-container>

    
    <div class="form-control" *ngIf="data.isEdit">
      <label>Estado</label>
      <select formControlName="status" required>
        <option *ngFor="let s of status " [value]="s.toLowerCase()">{{ s }}</option>
      </select>
    </div>

    <div formArrayName="bets">
      <div *ngFor="let betGroup of bets.controls; let i = index" [formGroupName]="i" class="bet-section">
        <mat-card class="match-card">
          <div class="form-row">
            <div class="form-control">
              <label>Equipo Local</label>
              <input type="text" formControlName="homeTeam" required />
            </div>

            <div class="form-control">
              <label>Equipo Visitante</label>
              <input type="text" formControlName="awayTeam" required />
            </div>
          </div>

          <div class="form-row">
            <div class="form-control">
              <label>Liga</label>
              <select formControlName="league" required>
                <option *ngFor="let league of leagues" [value]="league">{{ league }}</option>
              </select>
            </div>

            <div class="form-control">
              <label>Fecha</label>
              <input type="text" [matDatepicker]="picker" formControlName="matchDate" required />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>

          <div class="form-row">
            <div class="form-control">
              <label>Pronóstico</label>
              <input type="text" formControlName="forecastSelection" required />
            </div>

            <div class="form-control">
              <label>Cuota</label>
              <input type="number" step="0.01" min="1" formControlName="odds" required />
            </div>
          </div>

          <button mat-stroked-button color="warn" (click)="removeBet(i)">Eliminar Partido</button>
        </mat-card>
        <mat-divider></mat-divider>
      </div>
    </div>

    <button mat-flat-button color="primary" type="button" (click)="addBet()">+ Agregar otro partido</button>

    <div class="form-control">
      <label>Precio Total (USD)</label>
      <input type="number" step="0.01" min="0" formControlName="price" required />
    </div>

    <div class="form-control">
      <label>Pronosticador</label>
      <select formControlName="forecasterId" required>
        <option *ngFor="let forecaster of forecasters" [value]="forecaster.id">
          {{ forecaster.name }}
        </option>
      </select>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>

  <button
    mat-raised-button
    color="primary"
    [disabled]="betForm.invalid || bets.length === 0"
    (click)="onSubmit()"
  >
    {{ data.isEdit ? 'Actualizar' : 'Crear' }}
  </button>
</mat-dialog-actions>

