<mat-card class="user-form-card modern-card">
  <mat-card-header>
    <mat-card-title>
      {{ isEditing ? 'Editar Usuario' : 'Crear Nuevo Usuario' }}
    </mat-card-title>
  </mat-card-header>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-card-content class="modern-form-content">
      <!-- Sección Información Básica -->
      <div class="form-section">
        <h3 class="section-title">Información Básica</h3>
        <div class="form-row">
          <div class="form-control">
            <label>Nombre Completo</label>
            <input type="text" formControlName="name" />
            <div class="error" *ngIf="userForm.get('name')?.hasError('required')">
              Nombre es requerido
            </div>
          </div>

          <div class="form-control">
            <label>Email</label>
            <input type="email" formControlName="email" />
            <div class="error" *ngIf="userForm.get('email')?.hasError('required')">
              Email es requerido
            </div>
            <div class="error" *ngIf="userForm.get('email')?.hasError('email')">
              Ingrese un email válido
            </div>
          </div>
          <div class="form-control">
            <label for="password">Contraseña</label>
            <input type="password" id="password" formControlName="password" placeholder="••••••••" />
              <div class="error" *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid">
                  <span *ngIf="userForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
                  <span *ngIf="userForm.get('password')?.errors?.['minlength']">Mínimo 6 caracteres.</span>
              </div>
          </div>

          <div class="form-control">
            <label>Estado</label>
            <select formControlName="status">
              <option *ngFor="let status of statusOptions" [value]="status.value">
                {{ status.label }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Sección Detalles Adicionales -->
      <div class="form-section">
        <h3 class="section-title">Detalles Adicionales</h3>
        <div class="form-row">
          <div class="form-control" *ngIf="isEditing">
            <label>Fecha de Registro</label>
            <input type="date" formControlName="createdAt" readonly />
          </div>

          <div class="form-control">
            <label>URL Foto perfil (opcional)</label>
            <input type="text" formControlName="avatar" />
          </div>
        </div>
      </div>

      <!-- Sección Último Pago -->
      <div class="form-section">
        <h3 class="section-title">Último Pago</h3>
        <div class="form-row">
          <div class="form-control">
            <label>Fecha</label>
            <input type="date" formControlName="lastPaymentDate" />
          </div>

          <div class="form-control">
            <label>Monto</label>
            <input type="number" formControlName="lastPaymentAmount" min="0" />
            <div class="error" *ngIf="userForm.get('lastPaymentAmount')?.hasError('min')">
              El valor mínimo es 0
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="action-buttons">
      <button type="button" class="cancel-button" (click)="onCancel()">Cancelar</button>
      <button type="submit" class="submit-button" [disabled]="userForm.invalid">
        {{ isEditing ? 'Actualizar' : 'Crear' }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
