<form [formGroup]="filtersForm" (ngSubmit)="applyFilters()" class="filters-container">
  <!-- Pronosticador -->
  <div class="custom-field">
    <label for="forecaster">Pronosticador</label>
    <select id="forecaster" formControlName="forecaster">
      <option value="">Todos</option>
      <option *ngFor="let f of uniqueForecasters" [value]="f">{{ f }}</option>
    </select>
  </div>

  <!-- Estado -->
  <div class="custom-field">
    <label for="status">Estado</label>
    <select id="status" formControlName="status">
      <option value="">Todos</option>
      <option *ngFor="let estado of ['Ganada', 'Perdida', 'Pendiente', 'Cancelada', 'Anulada']" [value]="estado">{{ estado }}</option>
    </select>
  </div>

  <!-- Ordenar -->
  <div class="custom-field">
    <label for="sort">Ordenar por</label>
    <select id="sort" formControlName="sort">
      <option value="">Ninguno</option>
      <option value="price">Precio</option>
      <option value="odds">Cuota</option>
      <option value="date">Fecha</option>
    </select>
  </div>
    <!-- ✅ Checkbox para mostrar solo apuestas del usuario -->
  <mat-checkbox formControlName="onlyMine">Solo mis apuestas</mat-checkbox>

  <!-- Botón -->
  <button type="submit" class="custom-btn">Aplicar Filtros</button>
</form>




<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Pronosticador</th>
        <th># Partidos</th>
        <th>Estado</th>
        <th>Cuota</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bet of filteredBets" (click)="openDetails(bet)" class="clickable-row">

        <td>{{ bet.createdAt | date: 'dd/MM/yyyy' }}</td>
        <td>{{ bet.forecaster.name }}</td>
        <td>{{ bet.matches.length }}</td>
        <td>
          <span [ngClass]="getStatusClass(getBetStatus(bet))" class="status-badge">
            {{ getBetStatus(bet) }}
          </span>
        </td>
        <td>{{ averageOdds(bet) | number:'1.2-2' }}</td>
        <td>{{ bet.price | currency:'USD' }}</td>
      </tr>
    </tbody>
  </table>
</div>
